<!-- ---
// import type { CollectionEntry } from "astro:content";
import type { HTMLTag, Polymorphic } from "astro/types";
import FormattedDate from "../FormattedDate.astro";
import type Article from "src/interfaces/article";

type Props<Tag extends HTMLTag> = Polymorphic<{ as: Tag }> & {
	post: Article;
	withDesc?: boolean;
};

const { post, as: Tag = "div", withDesc = false } = Astro.props;
const postDate = new Date(post.attributes.updatedAt ?? post.attributes.publishDate);
---

<FormattedDate date={postDate} class="min-w-[120px] text-gray-500" />
<Tag>
	<a href={`/posts/${post.slug}/`} class="cactus-link" rel="prefetch">
		{post.attributes.title}
	</a>
</Tag>
{withDesc && <q class="line-clamp-3 block italic">{post.attributes.description}</q>} -->
